*,*::after, *::before{box-sizing: border-box;}
body{
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
background-color: rgb(2, 117, 11);
color: #fff;
padding-top: 10rem;
font-family: sans-serif;
}
h1{
font-size: 4rem;
text-transform: uppercase;
}
p{
    font-size: 2rem;
}